span {
    margin: auto;
    text-align: center;
}
.example-spacer{
    flex: 1 1 auto;
}
button{
    margin: 10px 10px;
    background-color: transparent;
}

.menu-toolbar {
    background-color: #5F5C6D;
    height: 70.5px;
  }

.nav-link {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    cursor: pointer;
  }

  .nav-link:hover {
    text-decoration: none;
    transition: color 0.3s;
    color: green;
  }
  .menu-icon {
    vertical-align: middle;
    margin-right: 4px;
    font-size: 25px;
  }
