<body class="donationEconomica-section">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    
    <a class="fechaRetroceso" href="/donar-ahora">
      <img src="/assets/images/donacion-alimento/fecha_detras.png" alt="Fecha de Retroceso" style="float: left;">
    </a>
    <h1>Donacion económica</h1>
    
    <div class="registroEconomico">
      <div class="formularioEconomico">
        <form [formGroup]="myForm" (ngSubmit)="add()">
    <mat-form-field>
              <mat-label>Tipo de Metodo de Donacion</mat-label>
              
              <mat-select formControlName="tipo_de_metodo_de_pago">
                <mat-option value="one">opcion 1</mat-option>
              </mat-select>
            </mat-form-field>
    <div *ngIf="myForm.get('tipo_de_metodo_de_pago')?.dirty && myForm.get('tipo_de_metodo_de_pago')?.hasError('numerosIngresados')" class="mensaje_error_nombreAlimento">
               <span class="mensaje_Formulario">No se permiten números en el campo.
                </span>
           </div>
  
    <mat-form-field>
                <mat-label>Monto Total</mat-label>
              <input matInput formControlName="monto_total">
           </mat-form-field>
    <div *ngIf="myForm.get('monto_total')?.dirty && myForm.get('monto_total')?.hasError('numerosOnly')" class="mensaje_error_nombreAlimento">
             <span class="mensaje_Formulario">No se permiten números en el campo.
                </span>
           </div>
    <div class="button-container">
              <button mat-raised-button class="btnRegistrarDonacion" type="submit" [disabled]="myForm.invalid">Enviar donacion economica</button>
            </div>
        </form>
  
        
      </div>
  </div>
  </body>
  