.donationEconomica-section{
  background-image: url('/assets/img-d.jpg');
  background-position: center top;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}
.donationEconomica-section h1{
  color: #FFFFFF;
  background-color: #2E965E;
  font-size: 6vw;
  padding: 2%;
  border-radius: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  text-align: center;

}
.fechaRetroceso img{
  background-color: transparent;
  filter: invert(1);
  position: absolute;
  top: 2cm;
  left: 0;
  margin: 10px; 
}

.registroEconomico{
  padding-left: 2%;
}

.formularioEconomico mat-form-field {
  display: block;
  margin-bottom: 1mm; /**/
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 2px;
}

.btnRegistrarDonacion {
  background-color: #FFFFFF;
  color: #2E965E;
  transition: background-color 0.3s, color 0.3s;
}

.btnRegistrarDonacion:hover {
  background-color: #2E965E;
  color: #FFFFFF;
}
.mensaje_Formulario{
  background-color: #FFFFFF;
}

@media (max-width: 768px) {
  .donationEconomica-section h1 {
      font-size: 4vw;
  }
  .registroEconomico {
      padding-left: 5%;
  }
}
