<app-navbar-user></app-navbar-user>
<body>  
<link href='https://fonts.googleapis.com/css?family=Spartan' rel='stylesheet'>
  <div class="container">
    <div class="title">GRACIAS POR SU DONACIÓN</div>
    <div class="centered-images">
        <img src="assets/comprobado.png" alt="Imagen 1">
    </div>
    <div class="bottom-images">
        <img src="assets/img-izquierda.png" alt="Imagen 2 Izquierda">
        <img src="assets/img-derecha.png" alt="Imagen 2 Derecha">
    </div>
  </div>
</body>
