<app-navbar-admin></app-navbar-admin>
<div class="image-container">
    <div class="image"><a [routerLink]="'/admin/listaFecha'">
    <img src="assets/image 15.png" alt="ListaFecha" />
    </a><div class="caption">  <p>Reporte de cantidad de alimentos por el tipo de alimento</p></div> </div>

    <div class="image"> <a [routerLink]="'/admin/listUsuario'">
     <img src="assets/image 16.png" alt="ListaUsuario" />
    </a><div class="caption"> <p>Buscar donante por fecha</p> </div> </div>

    <div class="image"> <a [routerLink]="'/admin/listUsuario'">
            <img src="assets/image 17.png" alt="ListaUsuario" />
           </a><div class="caption"> <p>Reporte de total de alimentos por fecha</p> </div> </div>

     <div class="image"> <a [routerLink]="'/admin/listUsuario'">
     <img src="assets/image 18.png" alt="ListaUsuario" />
    </a> <div class="caption"> <p>Crud de usuario</p> </div></div>
  </div>


