<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div>
      <div class="containerr">
        <img src="/assets/admi.jpg" alt="Imagen" width="36%" />
      </div>

      <div class="parte2">
        <button class="container" id="btn1">Estás como Administrador</button>
        <label>Puedes realizar los reportes que tenemos disponible</label>
      </div>
    </div>
  </body>
</html>
