<app-navbar-user></app-navbar-user>
<link href='https://fonts.googleapis.com/css?family=Spartan' rel='stylesheet'>
<body class="donation-section">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <h1>DONA AHORA !</h1>
  <h2>Tenemos diferentes formas de donación</h2>
  <div class="donation-buttons">
      <div class="donation-button" [routerLink]="'/user/donate-food'" id="DonacionAlimentos">
          <div class="donation-content">
              <img src="assets/donacion_alimentos.png" alt="DonacionAlimentos" >
              <p class="hover-text">Realizar donaciones de alimentos</p>
          </div>
      </div>
      <div class="donation-button" [routerLink]="'/user/donate-money'" id="DonacionEconomica">
          <div class="donation-content" >
              <img src="assets/Donacion_economica.png" alt="Donacion_economica">
              <p class="hover-text">Enviar donación económica</p>
          </div>
      </div>
      <div class="donation-button"  [routerLink]="'/user/alliances'" id="Alianzas">
          <div class="donation-content">
              <img  src="assets/Alianzas.png" alt="Alianzas">
              <p class="hover-text">Alianzas</p>
          </div>
      </div>
  </div>
</body>
