<div class="class-container">
  <div class="seccion1">
    <img
      src="assets/fondo1.png"
      alt="Imagen de Fondo"
      width="750px"
      height="350px"
    />
  </div>

  <!-- Seccion-medio -->
  <div class="seccion-medio">
    <h2>ALIMENTO PARA TODOS</h2>
  </div>

  <!-- Sección 2 -->
  <div class="seccion2">
    <div class="parrafo">
      <p>
        ¡Únete a la comunidad solidaria y ayuda a quienes más lo necesitan con
        nuestra plataforma de donaciones en línea!
      </p>
    </div>
  </div>

  <button mat-raised-button class="create-account-button" [routerLink]="'/auth/sign-up'">Crear Cuenta</button>
</div>
