<app-navbar-user></app-navbar-user>
<body>
  <link href='https://fonts.googleapis.com/css?family=Spartan' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <div class="TituloAlianza">
      <a mat-button class="fechaRetroceso" [routerLink]="'/user/donate-now'">
          <img src="/assets/fecha_detras.png" alt="Fecha de Retroceso" style="float: left;">
        </a>
      <p>ALIANZAS</p>
  </div>
  <div class="ImagenesAlianzas">
      <div class="logoAlianza">
          <a href="https://www.plazavea.com.pe/donaciones" target="_blank">
              <img src="/assets/logo_plazavea.png" alt="logo_PlazaVea">
          </a>
      </div>
      <div class="logoAlianza">
          <a href="https://www.facebook.com/bancodealimentosperu/posts/2460966410602243/?locale=pt_BR" target="_blank">
              <img src="/assets/logo_vivanda.png" alt="logo_Vivanda">
          </a>
      </div>
      <div class="logoAlianza">
          <a href="https://bancodealimentosperu.org/diario-la-republica-taller-cocinas-conscientes-una-accion-del-banco-de-alimentos-del-peru-y-tottus/" target="_blank">
              <img src="/assets/logo_tottus.png" alt="logo_Tottus">
          </a>
      </div>
      <div class="logoAlianza">
          <a href="https://bancodealimentosperu.org/canal-wong-oficial-banco-de-alimentos-peru/" target="_blank">
              <img src="/assets/logo_wong.png" alt="logo_Wong">
          </a>
      </div>
  </div>
</body>
