<div class="class-container">
  <div class="imagen-logo2">
    <img
      src="assets/logo2.png"
      alt="Logo2HungerFood"
      width="115px"
      height="105px"
    />
  </div>
  
  <div class="contenedor1">
    <p class="caja-texto">
      Nuestro producto es “FeedAid”, este se basa mayormente de gestionar los
      alimentos que son recibidos cada día, ya sean de diferentes entidades o
      personas que desean donar, la cual proporciona que sea una organización de
      alimentos según por su tipo, fecha de caducidad, así esta genere una gran
      red de distribución rápida, para que así sea automática hacia diversas
      sociedades que serán beneficiadas.
    </p>
    <h2 class="titulo">MIEMBROS DEL EQUIPO</h2>
  </div>

  <!-- Imagen de logo2 -->


  <!-- imagenes de los participantes: -->
  <div class="imagenes-participantes">
    <img src="assets/imagen-alex.png" alt="Foto1" width="140" height="150" />
    <img
      src="assets/imagen-Barbara.jpg"
      alt="Foto2"
      width="140"
      height="150"
    />
    <img
      src="assets/imagen-Diego.jpeg"
      alt="Foto3"
      width="140"
      height="150"
    />
    <img
      src="assets/imagen-Francisco.jpeg"
      alt="Foto4"
      width="140"
      height="150"
    />
    <img
      src="assets/imagen-Esmeralda.png"
      alt="Foto5"
      width="140"
      height="150"
    />
  </div>
</div>
